{% extends "base.html" %}

{% block navbar %}
	{% with application="savedSearches" %}
		{{ block.super }}
	{% endwith %}
{% endblock%}

{% block maincontent %}
<div class="control-group col-md-offset-1 col-md-10">
	<h4>Saved/Persistent Searches</h4>
        <p>Saved/Persistent Searches are regular expressions run against pastes as they come into the system. They do not go back to search old
pastes. When a search hits, the results will be emailed to you at the address you specified in your profile. At present, you can search for patterns 
in the body of the paste, or against the author field of a paste.</p>
<p><strong>Your saved searches</strong></p>
	{% for entry in searches %}
		<dl class="dl-horizontal">
			<dt>body</dt><dd>{{entry.body}}</dd>
			<dt>author</dt><dd>{{entry.author}}</dd>
			<dt><a href="{% url 'paste:searchedit' entry.id %}">edit</a></dt>
			<dd><a href="{% url 'paste:searchdelete' entry.id %}">delete</a></dd>
		</dl>	
	{% endfor %}
	{% if is_paginated %}
		<ul class="pagination pagination-centered">
			{% if page_obj.has_previous %}
				<li><a href="?page=1">First</a></li>
				<li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
			{% endif %}
				<li><a href="#">page {{ page_obj.number }}</a></li>
			{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
				<li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
			{% endif %}
		</ul>
	{% endif %}

	

	<p><a href="{% url 'paste:newsearch' %}">New Search</a></p>
</div>
{% endblock %}
