{% extends "base.html" %}

{% block navbar %}
	{% with application="savedSearches" %}
		{{ block.super }}
	{% endwith %}
{% endblock %}

{% block maincontent %}

{% if form %}
     <div class="control-group well col-md-offset-1 col-md-6">
        <h4>Edit Persistent Paste</h4>
	<form action="" method="POST" class="form form-search">
            {% csrf_token %}
            {% if form.non_field_errors %}
               <div>{{form.non_field_errors}}</div>
            {% endif %}
	   <div class="control-group">
              <div class="control">
                 <dl>
		   <dt>Author: </dt><dd>{{form.author.errors}}{{form.author}}</dd>
	           <dt>Body: </dt><dd>{{form.body.errors}}{{form.body}}</dd>
		</dl>
                {% if form.owner.errors %}
                   <p>owner error: {{form.owner.errors}}</p>
		{% endif %}
              </div>
           </div>
           <input type="hidden" name="owner" value="{{user.id}}" />
           <div class="control-group">
               <div class="controls">
 		  <button type="submit" class="brn" name="submit">Submit</button>
               </div>
           </div>
	</form>
      </div>
{% endif %}



{% endblock %}

